{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Gastronomique Japonais - TOKUGAWA</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
    <!-- En-tête avec nom du restaurant à gauche et navbar à droite -->
     <header class="flex justify-between items-center p-6">
        <h1 class="text-yellow-500 text-3xl font-bold uppercase">TOKUGAWA</h1>
        
        <!-- Logo centré -->
          <div class="flex justify-center items-center ml-20">
    <img src="{% static 'images/logo.png' %}" alt="Image du logo" class="w-24 h-24 rounded-full border-4 border-white shadow-lg mt-4">
</div>
        <nav class="text-black text-opacity-50 text-2xl">
                <ul class="flex flex-col space-y-4 text-right">
                      <li><a href="{% url 'home' %}" class="hover:text-yellow-500">Accueil</a></li>
                    <li><a href="{% url 'reservations' %}" class="hover:text-yellow-500">Réservations</a></li>
                    <li><a href="{% url 'history' %}" class="hover:text-yellow-500">Notre Histoire Familiale</a></li>
                    <li><a href="{% url 'contact' %}" class="hover:text-yellow-500">Contact</a></li>
                </ul>
            </nav>
    </header>

    <!-- Titre et phrase d'accroche -->
    <main class="container mx-auto py-12">
        <h1 class="text-black text-5xl font-bold text-center mb-6">Menu unique</h1>
        <p class="text-center text-lg text-gray-600 mb-12">Découvrez notre expérience gastronomique japonaise, où tradition et modernité se rencontrent dans chaque plat.</p>
        <!-- Deux images côte à côte -->
        <div class="flex justify-center mb-12">
            <img src="{% static 'images/chops.jpg' %}" alt="Sushi" class="w-1/2 h-auto rounded-lg shadow-2xl">
            <img src="{% static 'images/maguro.jpg' %}" alt="Sashimi" class="w-1/2 h-auto rounded-lg shadow-2xl">
        </div>

        <!-- Menu en trois sections -->
        <section class="text-center">
            <!-- Première Sélection -->
            <div class="mb-16">
                <h2 class="text-3xl font-semibold mb-8">Première Sélection</h2>
                <ul class="space-y-4 text-lg">
                    {% for plat in plats_premiere_selection %}
                    <li><strong>{{ plat.name }}</strong> - {{ plat.description }} - {{ plat.price }}</li>
                   {% endfor %}
                </ul>
            </div>
            <!-- Deuxième Sélection -->

            <div class="mb-16">
                <h2 class="text-3xl font-semibold mb-8">Deuxième Sélection</h2>
                <ul class="space-y-4 text-lg">
                    {% for plat in plats_deuxieme_selection %}
                    <li><strong>{{ plat.name }}</strong> - {{ plat.description }} - {{ plat.price }}</li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Troisième Sélection -->

            <div class="mb-16">
                <h2 class="text-3xl font-semibold mb-8">Troisième Sélection</h2>
                <ul class="space-y-4 text-lg">
                    {% for plat in plats_troisieme_selection %}
                    <li><strong>{{ plat.name }}</strong> - {{ plat.description }} - {{ plat.price }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>

     <footer class="bg-gray-900 text-white text-center p-6">
        <div class="flex flex-col md:flex-row justify-around mb-6">
            <div>
                <h2 class="text-xl font-bold">Nos Politiques</h2>
                <p class="mt-2">Cliquez ici pour en savoir plus sur les restrictions alimentaires, le code vestimentaire, et les annulations.</p>
            </div>
            <div>
                <h2 class="text-xl font-bold">Newsletter</h2>
                <p class="mt-2">Recevez un accès exclusif à nos événements et offres spéciales.</p>
                <a href="#" class="text-yellow-500 font-bold underline hover:text-yellow-600">Inscrivez-vous à la newsletter Tokugawa</a>
            </div>
            <div>
                <h2 class="text-xl font-bold">Contactez-nous</h2>
                <p class="mt-2">Appelez-nous au (206) 283-3313 ou envoyez un email à <a href="mailto:reservations@tokugawafamily.com" class="underline text-yellow-500 hover:text-yellow-600">reservations@tokugawafamily.com</a></p>
            </div>
        </div>
        <p>&copy; 1950 - 2024 Tokugawa Family. Tous droits réservés.</p>
    </footer>

</body>
</html>
